<!DOCTYPE html>
<html>
    <%-include ('./partials/head.ejs')%> 
<body>
    <%-include ('./partials/header.ejs')%> 
    <div class="container">
        <form class="formContainer" method="POST" action="/saveQuestion"> 
            <h2>Digite sua pergunta:</h2>
            <label>titulo:</label>
            <input placeholder=" Digite seu titulo:" name="title">
            <label>Descrição:</label>
            <textarea name="description" id="" cols="15" rows="3" placeholder=" Digite seu problema:"></textarea>
            <button class="btn-form">Enviar</button>
        </form>
    </div>
</body>
</html>