<!DOCTYPE html>
<html>
    <%-include ('./partials/head.ejs')%> 
<body>
    <%-include ('./partials/header.ejs')%> 

    <div class="container">
        <div class="formContainer">
            <h2>Perguntas</h2>
            <button class="btn-form">Perguntar</button>
            <% questions.forEach(question => { %>
            <div class="question">
                <p><%=question.title%> </p>
            </div>
            <div>
                <button class="btn-form">Responder</button>
            </div>
            <% }) %>
        </div>
        
    </div>

    <script src='../index.js'></script>
</body>
</html>