<!DOCTYPE html>
<html>
    <%-include ('./partials/head.ejs')%> 
<body>
    <%-include ('./partials/header.ejs')%> 

    <div class="container">
        <div class="formContainer">
            <h1><%=question.title%></h1>
            <p><%=question.description%></p>
        </div>
    </div>
    <form class="formContainer"> 
        <textarea name="body" id="" cols="30" rows="10"></textarea>
        <button class="btnForm">Responder</button>
    </form>

    <script src='../index.js'></script>
</body>
</html>