<!DOCTYPE html>
<html>
    <%-include ('./partials/head.ejs')%> 
<body>
    <%-include ('./partials/header.ejs')%> 

    <div class="container">
        <div class="containerQuestion">
            <h1><%=question.title%></h1>
            <p><%=question.description%></p>
        </div>
    </div>
    
    <form class="containerQuestion questionForm"> 
        <label>Resposta: </label>
        <textarea name="body" cols="30" rows="10" placeholder=" Escreva sua resposta: "></textarea>
        <button class="btnForm">Responder</button>
    </form>
    
    <script src='../index.js'></script>
</body>
</html>